<div class="section" id="about">
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">A propos</div>
            <p>
              Bonjour, je m'appele <strong>Mihaela Bucatariu.</strong> Je suis à
              la recherche d'un poste de développeur fullstack Javascript
            </p>
            <p>
              De formation ingénieur en informatique, avec 14 ans de
              l'expérience en C++ et SQL, j'ai décidé en 2019 de me spécialiser
              en développement Web, par auto-formation. J'ai suivi des
              formations en ligne sur Udemy et LinkedIn Learning.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Informations</div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">E-mail:</strong>
              </div>
              <div class="col-sm-8">mbucatariu@outlook.fr</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Tél.:</strong>
              </div>
              <div class="col-sm-8">+33 761243356</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Addresse:</strong>
              </div>
              <div class="col-sm-8">11 rue Volta, 93200 Saint Denis</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Langues:</strong>
              </div>
              <div class="col-sm-8">Français, Anglais, Roumain</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
